.app-bar {
  position: fixed;
  width: 100vw;
  height: 8vh;
  z-index: 10;
  left: 0;
  bottom: 0;
  background: white;
  border-top: 2px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.active {
  color: #048af3;
}